<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whats your IP?</title>
    
    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
      body { padding-top:50px; }
    </style>
</head>
<body class="container">
<main>
  <div class="jumbotron">
    <h1>Hi!</h1>
    <p>Welcome to proxy-proof ip detection</p>
    <p> Your IP is: <pre> <%= ipAddress %> </pre></p>
    <!-- Only show this section if debugging from a local server -->
    <% if (isAdmin) { %>
      <p> And the secret is: <pre> <%= secret %> </pre></p>
    <% } %>
  </div>
</main>
</body>
</html>